@import "tailwindcss";

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Default Light Mode (Nordic Slate) */
:root {
  --primary-bg: #f8f9fd;
  --secondary-bg: #FFFFFF;
  --text-primary: #1A1D23;
  --text-secondary: #495057;
  --yellow: #f89f1b;
  --violet: #693ade;
  --hover: #e7f5ff;
  --hoverb:#7c52e1;
  --success: #2B8A3E;
  font-family: "Poppins", sans-serif;
}

/* Dark Mode Overrides (Deep Tech) */
/* [data-theme='dark'] { */
/* :root{  
  --primary-bg: #0D1117;
  --secondary-bg: #161B22;
  --text-primary: #E6EDF3;
  --text-secondary: #495057;
  --yellow: #58A6FF;
  --violet: #8e56dd;
  --border-color: #30363D;
  --hoverb:#7c52e1;
  --success: #3FB950;
} */

.inputs-section {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


@keyframes float {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(5deg); }
    100% { transform: translateY(0px) rotate(0deg); }
}

.floating-icon {
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.05));
    animation: float 6s ease-in-out infinite;
}

.icon-1 { top: 15%; left: 10%; animation-delay: 0s; }
.icon-2 { top: 20%; right: 15%; animation-delay: 1s; }
.icon-3 { bottom: 20%; left: 15%; animation-delay: 2s; }
.icon-4 { bottom: 15%; right: 10%; animation-delay: 1.5s; }
.icon-5 { top: 50%; left: 5%; animation-delay: 3s; }

aside{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}